# Python virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode, PyCharm settings (optional)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log

# Environment variables / config
.env
*.env